nav{
    display: flex;

}
.nav-logo{
    color: black;
    font-family: Inter;
    font-size: 3.5rem;
    font-weight: 900;
    margin-left:3rem ;
    margin-right: auto;
    padding: 1.5rem;
    text-decoration: none; 
} 
.nav-links{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 1.5rem;
    margin-right:3rem ;
    
}
.nav-links> a {
    text-decoration: none;
    color: #4D4D4D;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
}

.nav-links> a:hover{
    color:black;
    text-decoration: underline;
}