.about_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: inter;
    align-items: center;
 

}   
.about_img{
    background-image: url("./assets/images/about_img.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;

}
.about-text_wrapper{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    gap:2rem;
    
}
.about_heading{
    color: #000000;
    /* text-align: center; */
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 3rem;
}
.about_text{
    color: #000000;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 500;
}

.about_explore{

    border-radius: 10px;
    background-color: #FFCC8D;
    margin-top: 4rem;
    margin-bottom:4rem ; 
}

.about_explore_wrapper{
    padding: 3rem 5rem; 
}
.about_explore_heading{
    color: #161616;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
    
    

}
.about_explore_btn{
    color: white;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    background-color: black;
    padding: 1.5rem 3rem;
    margin-top: 2.5rem;
    border-radius: 15px;
}