*{
    margin: 0;
    padding: 0;
}
html,body, #root{
    height: 100%;
    
}
body::-webkit-scrollbar {
    display: none;
  }
h1{
    color: black;
    /* text-align: center; */
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    
}