.van-details{
    font-family: inter;
    
    color: black;
    padding: 0 4.5rem;
}
.backToVans{
    color: rgb(36, 36, 36);
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;

}
.backToVans>span{
    text-decoration: underline;
}

.van-details_image{
    height: 80vh;
    width: 50vw;
    border-radius: 15px;

}

.van-details-container{
    display:flex;
    gap:4rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    /* align-items: ; */
}
.van-details_type{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    /* margin-left: 0.5rem ; */
    background-color: #E17654;
    padding: 0.5rem ;
    margin-top: 2rem;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}
.van-details_price{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 2rem;
}
.van-details_price>span{
    font-size: 2.5rem;
    font-weight: 600;
    /* text-indent: 0.5rem; */
    margin-top: 1rem;
}
.van-details_description{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin-top: 2rem;
}
.van-details_button{
    
    border-radius: 5px;
    background: #E17654;
    color: #FFF;
    /* text-align: center; */
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5rem;
    /* height: 4rem; */
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 5rem;
    
    
}

.van-details-details{
        display: flex;
        flex-direction: column;
    }