.van-details{
    font-family: inter;
    padding: 0 35rem;
    color: black;
}
.backToVans{
    color: rgb(36, 36, 36);
    font-size: 1.5rem;
    font-weight: 500;

}

.van-details_image{
    width: 100%;
    border-radius: 15px;

}
.van-details-container{
    display:flex;
    flex-direction: column;
    gap:2rem;
    margin-top: 2rem;
}
.van-details_type{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    /* margin-left: 0.5rem ; */
    background-color: #E17654;
    padding: 0.5rem ;
    /* margin-top: 1rem; */
    border-radius: 5px;
    width: 30%;
    text-align: center;
}
.van-details_price{
    font-size: 2.5rem;
    font-weight: 400;
}
.van-details_price>span{
    font-size: 2.5rem;
    font-weight: 600;
    /* text-indent: 0.5rem; */
    margin-top: 1rem;
}
.van-details_description{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.5rem;
}
.van-details_button{
    border-radius: 5px;
    background: #E17654;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 600;
    /* margin-top: 3rem; */
    height: 4rem;
    border: none;
    transition:transform 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content :center;
}